.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  position: relative;
  background-image: url("https://images.unsplash.com/photo-1558961363-fa8fdf82db35?auto=format&fit=crop&w=1600&q=80");
  background-size: cover;
  background-position: center;
  color: white;
  overflow: hidden;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(11, 27, 58, 0.65);
}

.content {
  position: relative;
  z-index: 2;
  padding: 0 20px;
}

.logo {
  font-size: 64px;
  font-weight: 400;
  font-family:"Pacifico", cursive;
  margin: 0;
}

.claim {
  margin-top: 10px;
  letter-spacing: 2px;
}

.links {
  margin-top: 25px;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-bottom: 2px solid transparent;
}

.links a:hover {
  border-color: #ff4fa3;
}